{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy</title>
{% endblock %}

{% block content %}
    <h2 class="title-recipes">Gerenciar receitas</h2>
    <section class="cards-admin">
        {% for recipe in receipts %}
            <div class="card-admin" id="burger.png">
                <div class="card-image-admin">
                    <img src="{{recipe.image}}" alt="image of {{recipe.title}}">
                </div>

                <div class="card-content-admin">
                    <h2>{{recipe.title}}</h2>
                    <p>por {{recipe.author}}</p>
                    <a href="/admin/receipts/{{recipe.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block footer %}{% endblock %}