{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy</title>
{% endblock %}

{% block content %}
    <section class="presentation">
        <div class="content-presentation">
            <h2>As melhores receitas</h2>

            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais
                do mundo inteiro.
            </p>
        </div>

        <div class="image-presentation">
            <img src="./assets/chef.png" alt="chef">
        </div>
    </section>

    <h2 class="title-recipes">Mais acessadas</h2>
    <section class="cards">
        {% for recipe in recipes %}
            <div class="card" id="burger.png">
                <div class="card-image">
                    <img src="{{recipe.image}}" alt="image of {{recipe.title}}">
                </div>

                <div class="card-content">
                    <h2>{{recipe.title}}</h2>
                    <p>por {{recipe.author}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block footer %}{% endblock %}