{% extends "website/layout.njk" %}

{% block head_body %}{% endblock %}

{% block head %}
    <title>Error 404</title>
{% endblock %}

{% block content %}
    <div class="title-alert">
        <h1>Page not found</h1>
    </div>
{% endblock %}

{% block footer %}{% endblock %}