<script>
    function addIngredient() {
        const ingredients = document.querySelector("#ingredients");
        const fieldContainer = document.querySelectorAll(".ingredient");

        const newField = document.createElement('input');
        newField.setAttribute("type", "text");
        newField.setAttribute("name", "ingredients[]");
        newField.setAttribute("placeholder", "Ingrediente");

        ingredients.appendChild(newField);
    };

    function addStep() {
        const preparation = document.querySelector("#preparation");
        const fieldContainer = document.querySelectorAll(".preparation");
        
        const newField = document.createElement('input');
        newField.setAttribute("type", "text");
        newField.setAttribute("name", "preparation[]");
        newField.setAttribute("placeholder", "Novo passo");

        preparation.appendChild(newField);
    };

    document.querySelector(".new-ingredient").addEventListener("click", addIngredient);
    document.querySelector(".new-step").addEventListener("click", addStep);
</script>