<script>
    function addIngredient() {
        const ingredients = document.querySelector("#ingredients");
        const fieldContainer = document.querySelectorAll(".ingredient");

        const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

        if(newField.children[0].value == "") return false;

        newField.children[0].value = "";
        ingredients.appendChild(newField);
    };

    function addStep() {
        const preparation = document.querySelector("#preparation");
        const fieldContainer = document.querySelectorAll(".preparation");

        const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

        if(newField.children[0].value == "") return false;

        newField.children[0].value = "";
        preparation.appendChild(newField);
    };

    document.querySelector(".new-ingredient").addEventListener("click", addIngredient);
    document.querySelector(".new-step").addEventListener("click", addStep);
</script>