@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
@import "//db.onlinewebfonts.com/c/978e3845b045b2e6a058988930c64d27?family=Cochin";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*=== HEADER ===*/
.image-logo img {
    margin-left: 15%;
    margin-top: 20px;
    position: relative;
}

.links {
    position: absolute;
    top: 25px;
    right: 800px;
}

.links a {
    padding: 0 16px;
    font-size: 16px;
    color: #111111;
    text-decoration: none;
}

/*=== SECTION PRESENTATION ===*/
.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    margin-top: 10px;
    margin-left: 15%;
    position: relative;
}

.content-presentation {
    width: 316px;
    position: absolute;
    left: 50px;
    bottom: 40%;
}

.content-presentation h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #111111;
}

.content-presentation p {
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    opacity: 0.7;
}

.image-presentation img{
    width: 216px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 100px;

}

/*=== CARDS ===*/
.title-recipes {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    margin-top: 50px;
    margin-left: 15.5%;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
    margin-left: 15%;
}

.card {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.card-image img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.card-image.active img {
    cursor: pointer;
}

.card-content, .card-content-admin {
    text-align: left;
    margin-left: 10px;
}

.card-content h2, .card-content-admin h2 {
    font-size: 18px;
    color: #111111;
}

.card-content p, .card-content-admin p {
    font-size: 14px;
    color: #777777;
}

/*=== COMPANY CONTENT ===*/
.company {
    width: 940px;
    margin-left: 15%;
    margin-top: 50px;
}

.company-content h2{
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
    margin-top: 30px;
}

.company-content p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/*=== RECIPES ===*/
.cards-recipe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
    margin-left: 15%;
    margin-top: 50px;
}

.cards-recipe h2 {
    cursor: pointer;
}

/*=== FOOTER ===*/
footer .rights-reserved {
    display: grid;
    grid-template-columns: 1fr;
    background: #EEEEEE;
    height: 62px;
    margin-top: 50px;
}

.rights-reserved p {
    font-size: 14px;
    font-family: 'Roboto';
    color: #999999;
    text-align: center;
    padding-top: 3.5vh;
}

/*=== PAGE NOT FOUND ===*/
.title-alert {
    text-align: center;
    margin-top: 20%;
    font-size: 50px;
    border: 1px solid gray;
    padding: 2px 6px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 26px;
}

/*=== RECIPE ===*/

.recipe {
   position: relative;
}

.image-recipe img, .image-recipe-admin img{
    width: 940px;
    height: 280px;
    margin: 5% 15% 4% 15%;
    border-radius: 15px;
}

.info-recipe h2{
    font-size: 36px;
    color: #111111;
}

.info-recipe p{
    font-size: 20px;
    color: #777777;
}

.ingredient-recipe, .preparation-recipe, .additional-information-recipe {
    text-align: left;
}

.ingredient-recipe h2, .preparation-recipe h2, .additional-information-recipe h2{
    font-size: 24px;
    color: #111111;
    margin-left: 15%;
    margin-top: 20px;
}

.ingredient-recipe ul, .preparation-recipe ul {
    margin-left: 18%;
    margin-right: 10%;
    visibility: hidden;
}

.ingredient-recipe li, .preparation-recipe li {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.additional-information-recipe p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-left: 16%;
    margin-right: 10%;
    visibility: hidden;
}

.ingredient-recipe.active ul, .preparation-recipe.active ul{
    visibility: visible;
}

.additional-information-recipe.active p{
    visibility: visible;
}

.to_hide-ingredient, .to_hide-preparation, .to_hide-information {
    font-size: 12px;
    color: #999999;
    margin-left: 2%;
    margin-top: 0;
    cursor: pointer;
    text-decoration: none;
}

/*========== ADMIN ==========*/

/*---header---*/
.header-admin {
    background-color: #111111;
    padding-bottom: 12px;
}

/*---card---*/
.cards-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 940px;
    margin-left: 16%;
}

.card-admin {
    display: grid;
    grid-template-columns: 180px 1fr;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-image-admin img{
    width: 172px;
    height: 80px;
    border-radius: 8px;
}

.card-content-admin a {
    text-decoration: none;
    color: #6558C3;
    font-size: 14px;
    font-weight: bold;
}

/*---recipe---*/
.image-recipe-admin img{
    margin-top: 1%;
}

.edit-admin {
    display: grid;
    grid-template-columns: 500px 430px;
    margin-top: 2%;
    margin-left: 16%;
    margin-bottom: 0;
}

.edit-admin h2 {
    text-align: left;
    margin-right: 8%;
}

.card .edit-admin a {
    padding: 12px 16px;
    background: #6558C3;
    color: white;
    margin-left: 40%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}