{% extends "website/layout.njk" %}

{% block head %}
    <title>Foodfy - receitas</title>
{% endblock %}

{% block search %} {% endblock %}

{% block content %}
    <section class="cards-admin chef-admin">
        {% for chef in chefs %}
            <div class="card-admin chef-admin" id="burger.png">
                <div class="card-image-admin chef-image">
                    <img src="{{chef.avatar_url}}" alt="image of {{chef.name}}">
                </div>

                <div class="card-content-admin chef-content">
                    <h2>{{chef.name}}</h2>
                    <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </section>
    <script src="/scripts.js"></script>
{% endblock %}