{% extends "website/layout.njk" %}

{% block head %}
    <title>Foodfy - receitas</title>
{% endblock %}

{% block search %} {% endblock %}

{% block content %}
    <script src="/scripts.js"></script>
{% endblock %}