{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy</title>
{% endblock %}

{% block content %}
    <div class="admin-manager">
        <section class="recipe-manager">
            <p>Gerenciar receitas</p>
            <a href="/admin/receipts/create">Criar Nova receita</a>
        </section>

        <section class="cards-admin">
            {% for recipe in receipts %}
                <div class="card-admin" id="burger.png">
                    <div class="card-image-admin">
                        <img src="{{recipe.image}}" alt="image of {{recipe.title}}">
                    </div>

                    <div class="card-content-admin">
                        <h2>{{recipe.title}}</h2>
                    <p>por 
                        {% for chef in chefsOptions %}
                            {% if chef.id == recipe.chef_id%}
                                {{chef.name}}
                            {% endif %}
                        {% endfor %}
                    </p>
                        <a href="/admin/receipts/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}

{% block footer %}{% endblock %}